@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
  }

  body {
    @apply bg-game-bg text-game-text antialiased;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-game-accent ring-offset-2 ring-offset-game-bg;
  }
}
